@charset "gb2312";
*{margin:0;padding:0;font-size:12px;color:#333;font-family:"Microsoft Yahei","simsun","MingLiu";font-weight:normal;}
*:focus{outline:none;-moz-outline:none;}
html,img{border:0}
body{background-color:#fff;height:100%;width:100%;margin:0 auto;max-width:480px;min-width:300px;overflow-x:hidden;}
ul,ol{list-style:none;}
fieldset,img,abbr,acronym{border:none}
a img{border:none}
a{color:#333;text-decoration:none;border:0;cursor:pointer;}
a:hover{color:#000;text-decoration:none;border:0;}
.fl{float:left}
.fr{float:right}
.clear{visibility:hidden;display:block;font-size:0;content: ".";clear:both;height:0;width:0;}
/*wrapper,bg*/
.frames{width: 100%;max-width:480px;min-width:320px;overflow: hidden; margin:0 auto;}
.wrapper,.bg{width:100%;}
.wrapper{position:relative;}
.bg{vertical-align:top}
/*txt自适应*/
.txt_wrapper span{display:block;}
.txt_wrapper .txt_inline{display:inline}
.txt_wrapper strong{color:#FF6600;}
.txt_wrapper b{font-weight:bold;}
.txt_wrapper em{color:#913001;font-style:normal;font-weight:bold;}
.txt_wrapper .txtXXL{font-weight:bold;}
.txt_wrapper .colorFF6600{color:#FF6600;}
.txt_wrapper .colorFFF{color:#FFF;}
.txt_wrapper .colorB9B4B5{color:#B9B4B5;}
@media screen and (min-width:300px) {
	.txt_wrapper .txt{font-size:10px;line-height:18px;}
	.txt_wrapper .txtL{font-size:12px;line-height:22px;}
	.txt_wrapper .txtXL{font-size:16px;line-height:30px;}
	.txt_wrapper .txtXXL{font-size:22px;line-height:42px;}
	.txt_wrapper .txtS{font-size:10px;line-height:16px;}
	.txt_wrapper .txtXS{font-size:10px;line-height:16px;}
}
@media screen and (min-width:320px) {
	.txt_wrapper .txt{font-size:12px;line-height:22px;}
	.txt_wrapper .txtL{font-size:14px;line-height:26px;}
	.txt_wrapper .txtXL{font-size:18px;line-height:34px;}
	.txt_wrapper .txtXXL{font-size:24px;line-height:46px;}
	.txt_wrapper .txtS{font-size:10px;line-height:16px;}
	.txt_wrapper .txtXS{font-size:10px;line-height:16px;}
}
@media screen and (min-width:350px) {
	.txt_wrapper .txt{font-size:14px;line-height:26px;}
	.txt_wrapper .txtL{font-size:16px;line-height:30px;}
	.txt_wrapper .txtXL{font-size:20px;line-height:38px;}
	.txt_wrapper .txtXXL{font-size:26px;line-height:50px;}
	.txt_wrapper .txtS{font-size:12px;line-height:18px;}
	.txt_wrapper .txtXS{font-size:10px;line-height:16px;}
}
@media screen and (min-width:390px) {
	.txt_wrapper .txt{font-size:16px;line-height:30px;}
	.txt_wrapper .txtL{font-size:18px;line-height:34px;}
	.txt_wrapper .txtXL{font-size:22px;line-height:42px;}
	.txt_wrapper .txtXXL{font-size:28px;line-height:54px;}
	.txt_wrapper .txtS{font-size:14px;line-height:22px;}
	.txt_wrapper .txtXS{font-size:10px;line-height:16px;}
}
@media screen and (min-width:430px) {
	.txt_wrapper .txt{font-size:18px;line-height:34px;}
	.txt_wrapper .txtL{font-size:20px;line-height:38px;}
	.txt_wrapper .txtXL{font-size:24px;line-height:46px;}
	.txt_wrapper .txtXXL{font-size:30px;line-height:58px;}
	.txt_wrapper .txtS{font-size:16px;line-height:26px;}
	.txt_wrapper .txtXS{font-size:12px;line-height:18px;}
}
@media screen and (min-width:480px) {
	.txt_wrapper .txt{font-size:20px;line-height:38px;}
	.txt_wrapper .txtL{font-size:22px;line-height:42px;}
	.txt_wrapper .txtXL{font-size:26px;line-height:50px;}
	.txt_wrapper .txtXXL{font-size:32px;line-height:62px;}
	.txt_wrapper .txtS{font-size:18px;line-height:34px;}
	.txt_wrapper .txtXS{font-size:14px;line-height:22px;}
}

/* 个人中心全局头部、底部 */
.ui_header{width: 100%;height:45px;line-height: 45px;z-index: 99999;position: fixed;left: 0;top: 0;right: 0; background:#EBEBEB; border-bottom:solid 1px #D6D6D6; overflow:hidden; background:url(../images/heder.jpg);}
.ui_header.opened{margin-left:-140px;}
.ui_header.closed{margin-left:0;}
.pre{position: absolute;top: 0px;left:5px;display: block;width: 45px;height: 45px; background:url(../images/pre.png) no-repeat center center;background-size:35px 35px;}
.refresh{position: absolute;top: 0px;left:40px;display: block;width: 45px;height: 45px; background:url(../images/refresh.png) no-repeat center center;background-size:35px 35px;}
.ui_header .search{ position:absolute; top:0; right:45px; width:55px;height:45px; background:url(../images/search.png) no-repeat center center;background-size:35px 35px;}
.ui_header .person{ position:absolute; top:0; right:5px; width:55px;height:45px; background:url(../images/person.png) no-repeat center center;background-size:35px 35px;}
.ui_header span{ display:block; margin:0 auto; height:45px; line-height:45px; width:120px; text-align:center; font-size:18px; font-weight:bold;}
.loginform{ clear:both; padding-top:60px;}
.loginform span{width:90%; height:30px; margin:0 auto; display:block; font-size:1.5em; margin-top:10px;}
.typein{ height:40px; width:90%; margin:0 auto; border:solid 1px #999; position:relative;}
.typein img{ position:absolute; left:2px; top:6%; height:80%; }
.loginform input[type="text"]{ position:absolute; left:45px; top:1px; width:80%; height:36px; line-height:36px; overflow:hidden; border:0;}
.loginform input[type="password"]{ position:absolute; left:45px; top:1px; width:80%; height:36px; line-height:36px; overflow:hidden; border:0;}
.loginform input[type="submit"]{ clear:both; width:100%; height:35px; line-height:35px; border:0; background:#06F; border-radius:5px;
font-size:1.5em; color:#FFF; text-align:center; left:0; right:0; margin:0 auto;}

.ui_footer{ clear:both;width:100%;position: fixed; left:0; bottom:0; height:55px; background:#2659D1; z-index:999;}
.footer{min-width:320px; max-width:480px; position:relative; margin:0 auto;}
.ui_footer.opened{margin-left:-140px;}
.ui_footer.closed{margin-left:0;}
.telephone{ width:20%; position:absolute; margin:0 auto; left:0; right:0; bottom:-40px; background:#FFF;border-radius: 50%; border:solid 1px #CCCCCC;}
.telephone img{ display:block; width:100%;}
.ui_left{ width:40%; position:absolute; left:0; top:0; height:55px; text-align:center;}
.ui_left a{ width:49%; height:55px; display:block; float:left;}
.ui_left a img{ display:block; height:32px; width: auto; margin:0 auto; margin-top:3%;}
.ui_left a span{ display:block; color:#FFF; height:23px; line-height:23px; font-weight:bold; text-align:center; font-size:1em;}
.ui_right{ width:40%; position:absolute; right:0; top:0; height:55px; text-align:center;}
.ui_right a{ width:49%; height:55px; display:block; float:left;}
.ui_right a img{ display:block; height:32px; width: auto; margin:0 auto; margin-top:3%;}
.ui_right a span{ display:block; color:#FFF; height:23px; line-height:23px; font-weight:bold; text-align:center; font-size:1em;}